<ion-tabs >
  <ion-tab [root]="tabHome" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tabPrograma" tabTitle="Programas" tabIcon="desktop"></ion-tab>
  <ion-tab [root]="tabProgramacao" tabTitle="Horários" tabIcon="list-box"></ion-tab>
  <ion-tab [root]="tabSobre" tabTitle="Sobre" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tabContato" tabTitle="Contato" tabIcon="mail"></ion-tab>
</ion-tabs>
