<ion-header>
 <ion-toolbar color="dark">
    <ion-buttons start>
      <button ion-button icon-only>
        <ion-icon name="contact"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title class="titleToolbar">Programas</ion-title>

    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="masters card-background-page" >
  <img src="{{programa.url_imagem_programa}}" width="100%" height="300">
  <p class="descricao">{{programa.descricaoApp}}</p>

  <ion-list class="listDestaque" no-lines>
    <ion-list-header class="titleLista">Vídeos do Programa</ion-list-header> 
     <ion-item-sliding class="itemDestaqueSlide" *ngFor="let video of videoPrograma.videosEncontrados">
      <ion-item class="itemDestaque"  (click)="assistirVideo(video)" >       
        <img [src]="video.url_imagem_video" item-start  class="imagemDestaque" >             
        <h2>{{video.nome_video  | limitTo:27}}</h2>
        <h3>{{video.descricao  | limitTo:30}}</h3>
        <p>Duração - {{video.duracao}}</p>
        <p>{{video.total_acesso}} visualizações</p>
        <ion-icon class="icone" name="ios-arrow-back" item-end></ion-icon>    
      </ion-item> 
      <ion-item-options side="right" class="optionSlide">
        <button ion-button color="danger" class="buttomSlide" >
          <ion-icon name="heart" class="iconSlide"></ion-icon>
          Favoritar
        </button>
        <button ion-button color="primary" class="buttomSlide" (click)="regularShare(video)">
          <ion-icon name="share" class="iconSlide"></ion-icon>
          Compartilhar
        </button>
      </ion-item-options>   
    </ion-item-sliding>         
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content loadingText="Carregando ..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
