.platform-android{
    page-programas {
        .card-background-page {
            ion-card {
                position: relative;
                width: 30%;                
                min-height: 32.5%;
                float:left;
                background: #FFF;
                padding: 2px 2px;
                margin-bottom: 5px;
                margin-right: -2px;
            }

            .posterior{
                margin-top: 10px;
            }

            ion-item{
                width: 25%;
                height: 29%;
            }

            .icone {
                color:red;
            }
        }
    }

}

page-programas {

    .titleToolbar{
        color:chocolate;  
    }

    .masters {
        
       background:linear-gradient(359deg, rgba(19,79,54,1) 11.91%, rgba(1,3,8,1) 63.62% );
    }

}

.platform-ios{
    .card-background-page {
        ion-card {
            /*position: absolute;*/
            width: 30%;
            height: 30.3%;
            float:left;
            background: #FFF;
            padding: 2px 2px;
            margin-bottom: 5px;
            margin-right: -4px;
        }

        .posterior{
            margin-top: 12px;
        }

        ion-item{
            width: 25%;
            height: 26%;
        }
    }
}



