<ion-header>
 <ion-toolbar color="dark">
    <ion-buttons start>
      <button ion-button icon-only>
        <ion-icon name="contact"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title class="titleToolbar">Programas</ion-title>

    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="masters card-background-page" padding>
  <ion-card item-width="25%" item-height="29%" *ngFor="let programa of programas" class="posterior" (click)="programaSelecionado(programa)" > 
      <img src="{{programa.url_imagem_programa_menor}}"/>
  </ion-card>
</ion-content>
