.platform-android{
    page-programa {
        .titleicon {    
            width: 100%;
            height: 100%;
            left: 0;
            bottom: 0;
            text-align:center;    
        }

        /*.masters {
            background-color: black;
        }*/

        .masters {        
            background:linear-gradient(359deg, rgba(19,79,54,1) 11.91%, rgba(1,3,8,1) 63.62% );
        }

        .titleLista{
            text-align:center;
            font-size: 21px;
            color:chocolate;        
            background-color: #222;
            margin-top:8px;
            margin-bottom: -5px;
        }

        .listDestaque{
            background-color: #222;
        }

        .itemDestaque{        
            background-color:rgba(31, 55, 61, 0.5);
            color:aliceblue;
            box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
            margin-bottom:8px;
            height: 100px;
        }

        .itemDestaqueSlide{
            background-color:rgba(31, 55, 61, 0.5);
            color:aliceblue;
            box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
            margin-bottom:8px;
            height: 100px;
        }

        .itemDestaque:hover{
            background-color:rgba(31, 55, 61, 0.9);
        }

        .itemDestaque h2{     
            color:cornsilk;       
        }

        .itemDestaque p{     
            font-size: 11px;
            color:aliceblue;       
        }

        .imagemDestaque{
            width: 110px;
            height: 70px;
            border-radius: 3px;
            -webkit-border-radius: 3px;
        }

        .descricao{
            color:aliceblue; 
            text-align: justify;
            padding: 5px 10px; 
            font-size: 15px;
        }

        .optionSlide{
            width: 70%;
            height: 50px;;
        }

        .buttomSlide{
            width: 35%;
            height: 100px;;
        }

        .iconSlide{
            font-size: 18px;
        }
    }

}





