page-modal {

    .imagemPrograma{
        width: 100%;
        height: 250px;
        border-radius: 3px;
        -webkit-border-radius: 3px;
    }

    .horario{
        color:chocolate;
        font-size: 17px;
        font-weight: bold;
    }

    .classificacao{
        color: #B8850A;
    }



    h4{
        font-size: 17px;
        color: dimgrey
    }
    
}
