<ion-header>

<ion-navbar>
    <ion-title>Detalhe do Programa</ion-title>
    <ion-buttons end>
    <button ion-button (click)="closeModal()">Close</button>
    </ion-buttons>
</ion-navbar>

</ion-header>

<ion-content padding>

  <img  src="{{programacao.url_imagem_programa}}" class="imagemPrograma">    
  <h1 class="horario">{{programacao.hrinicial}} às {{programacao.hrfinal}} </h1> 
  <hr>
  <h2>{{programacao.programa}}</h2>
  <h4>{{programacao.tema}}</h4>
  <p class="classificacao">classificação: {{programacao.classificacao}}</p>
  <hr>
  <p>{{programacao.descricao}}</p>

</ion-content>
