.platform-android{
    page-assistirVideo {
        
    }

}

page-assistirVideo {

    .titleToolbar{
        color:chocolate;  
    }

    .masters {
        
       background:linear-gradient(359deg, rgba(19,79,54,1) 11.91%, rgba(1,3,8,1) 63.62% );
    }
    ion-card {
        /*position: absolute;*/
        width: 100%;
        float:left;
        background: #FFF;
        padding: 2px 2px;
        margin-bottom: 5px;
        margin-right: -2px;
    }

    .thumbPrograma{
        width: 20%;
        height: 29%;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        box-shadow: 1px 1px 5px rgba(0,0,0,0.30), 1px 1px 5px rgba(0,0,0,0.22);
        float: left;
    }

    #infoBasic{
        margin-top: 13px;
    }
    
    .info{
        font-size: 12px;
    }


}

.platform-ios{
   
}



