<ion-header>
  
 <ion-toolbar color="dark">
    <ion-buttons start>
      <button ion-button icon-only>
        <ion-icon name="contact"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title class="titleToolbar">Vídeo Play</ion-title>

    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="masters">
     
  <video controls height="300" width="100%" poster="{{video.url_imagem_video}}">
    <source src="{{video.url_video}}"  type="video/mp4" />
  </video>

  <ion-card>

    <ion-item>     
      <div *ngIf="programa" id="thumb">
          <img class="thumbPrograma" item-start  src="{{programa.url_imagem_programa_menor}}" />      
      </div>
      <div id="infoBasic">
          <h2>{{video.nome_video | limitTo:30}}</h2>
          <p class="info">Duração: {{video.duracao}}</p>
          <p class="info">{{video.total_acesso}} visualizações</p>    
      </div>      
    </ion-item>    

    <ion-card-content>
      <hr>
      <p class="descricao">{{video.descricao}}</p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="heart"></ion-icon>
          <div>Favoritar</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="text"></ion-icon>
          <div>4 Comentários</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="share"></ion-icon>
          <div>Compartilhar</div>
        </button>
      </ion-col>
      
    </ion-row>

  </ion-card>


</ion-content>
