<ion-header class="header">
   <ion-navbar color="dark">
        <ion-title>Programação</ion-title>
         <ion-buttons start class="botaoHead">
          <button ion-button icon-only>
            <ion-icon name="contact"></ion-icon>
          </button>
        </ion-buttons>
        <ion-buttons class="botaoHead" end>
          <button ion-button icon-only>
            <ion-icon name="search"></ion-icon>
          </button>
        </ion-buttons>
    </ion-navbar>

  <ion-toolbar class="toolbarProgramacao" color="dark">       
    
      <ion-segment  class="tabsProg" color="light">
        <ion-segment-button value="seg">
          SEG
        </ion-segment-button>
        <ion-segment-button value="ter">
          TER
        </ion-segment-button>
        <ion-segment-button value="qua">
          QUA
        </ion-segment-button>
        <ion-segment-button value="qui">
          QUI
        </ion-segment-button>
        <ion-segment-button value="sex">
          SEX
        </ion-segment-button>
        <ion-segment-button value="sab">
          SAB
        </ion-segment-button>
        <ion-segment-button value="dom">
          DOM
        </ion-segment-button>
      </ion-segment>       

  </ion-toolbar>

</ion-header>

<ion-content class="masters">
  <ion-list class="listDestaque" no-lines>
    <!--<ion-list-header class="titleDestaque">Segunda 26/04</ion-list-header>      -->
      <ion-item class="itemGrade">
        <ion-thumbnail item-start>
          <ion-img src="http://intranet.canalsaude.fiocruz.br/img/videos/Praticas-Integrativas-no-SUS-BPS-0680.png"></ion-img>
        </ion-thumbnail>
        <h2>Bebida e Direção</h2>
        <h3>Os Riscos e Cuidados</h3>
         <p>Duração - 26:20</p>
         <p>114 visualizações</p>        
      </ion-item>
      <ion-item class="itemGrade">
        <ion-thumbnail item-start>
          <ion-img src="http://intranet.canalsaude.fiocruz.br/img/videos/Amamentacao-EMF-0186.png"></ion-img>
        </ion-thumbnail>
        <h2>Bebida e Direção</h2>
        <h3>Os Riscos e Cuidados</h3>
         <p>Duração - 26:20</p>
         <p>114 visualizações</p>        
      </ion-item>
  </ion-list>
</ion-content>
