page-contact {

    .toolbarProgramacao{
        background-color: chocolate;
        
    }
   
    .tabsProg{
        text-align: center;
        width: 100%;
        background-color: chocolate;
    }

     .masters {
        margin-top: 10px;
        background-color: black;
    }

    .listDestaque{
        background-color: #222;
    }

    .itemGrade{        
        background-color:rgba(31, 55, 61, 0.5);
        color:aliceblue;
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
        margin-bottom:10px;
    }

    .itemGrade p{     
        font-size: 11px;
        color:aliceblue;       
    }

    

    
}
