page-home {

    ion-title {
        text-align: center;
        margin-left:50px;
        padding: 5px 5px;
    }

   .logoImage{
       width: 170px;
       height: 55px;       
   } 

   .titleicon {    
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
        text-align:center;    
    }

    .masters {
        background-color: black;
    }

    .titleDestaque{
        text-align:center;
        font-size: 22px;
        color:chocolate;        
        background-color: #222;
        margin-top:8px;
        margin-bottom: -5px;
    }

    .listDestaque{
        background-color: #222;
    }

    .itemDestaque{        
        background-color:rgba(31, 55, 61, 0.5);
        color:aliceblue;
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
        margin-bottom:8px;
    }

    .itemDestaque:hover{
        background-color:rgba(31, 55, 61, 0.9);
    }

    .itemDestaque h2{     
        color:cornsilk;       
    }

    .itemDestaque p{     
        font-size: 11px;
        color:aliceblue;       
    }

    .imagemDestaque{
        width: 110px;
        height: 70px;
        border-radius: 3px;
        -webkit-border-radius: 3px;
    }

 

}
