<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons start>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="contact"></ion-icon>
      </button>
    </ion-buttons>

    <!--<ion-title>Canal Saúde</ion-title>-->
    <!--<ion-title><img src="../../../assets/logo-home.png" item-start  class="logoImage"></ion-title>-->
    <ion-title><img src="http://www.api.canalsaude.fiocruz.br/ws/assets/img/logo-home.png" item-start  class="logoImage"></ion-title>

    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="masters">
 
  <!--<iframe allowfullscreen webkitallowfullscreen mozallowfullscreen scrolling="no" class="livevideo"  id="livestreaming" frameborder="2" width="100%" height="240"
      src='http://fast.player.liquidplatform.com/pApiv2/embed/1d664cc5aa583759e0550c79d8e4e5b8?thumbnailURL=http://intranet.canalsaude.fiocruz.br/img/no_ar.jpg?streamName=CanalSaude&primaryLive=[http://slrp.sambavideos.sambatech.com/liveevent/CanalSaude_1d664cc5aa583759e0550c79d8e4e5b8/livestream/playlist.m3u8]&backupLive=[http://bkp-slrp.sambavideos.sambatech.com/liveevent/CanalSaude_1d664cc5aa583759e0550c79d8e4e5b8/livestream/playlist.m3u8]&hasFacebook=false&hasTwitter=false'>
  </iframe>-->

  <iframe allowfullscreen webkitallowfullscreen mozallowfullscreen  scrolling="no" frameborder="2" width="100%" height="300" src="https://video.rnp.br:443/portal/embed-channel?idItem=10&autostart=false"></iframe>
  
  
  <ion-list class="listDestaque" no-lines>
    <ion-list-header class="titleDestaque">Destaques</ion-list-header> 
      <ion-item class="itemDestaque" *ngFor="let video of videosDestaques" (click)="assistirVideo(video)" >       
        <img [src]="video.url_imagem_video" item-start  class="imagemDestaque" >             
        <h2>{{video.nome_programa}}</h2>
        <h3>{{video.nome_video | limitTo:25}}</h3>
        <p>Duração - {{video.duracao}}</p>
        <p>{{video.total_acesso}} visualizações</p>  
      </ion-item>    
      
  </ion-list>


</ion-content>
