page-programacao {

    .toolbarProgramacao{
        background-color: chocolate;
        
    }
   
    .tabsProg{
        text-align: center;
        width: 100%;
        background-color: chocolate;
    }

    .masters {
        margin-top: 10px;
        background-color: black;
    }

    .listDestaque{
        background-color: #222;
    }

    .titleDestaque{
        text-align: center;
        font-size: 16px;        
    }

    .itemGrade{        
        background-color:rgba(31, 55, 61, 0.5);
        color:aliceblue;
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
        margin-bottom:10px;
    }

    .itemGrade p{     
        font-size: 11px;
        color:aliceblue;       
    }

    .imagemPrograma{
        width: 110px;
        height: 70px;
        border-radius: 3px;
        -webkit-border-radius: 3px;
    }

    .horario{
        color:chocolate;
        font-size: 17px;
        font-weight: bold;
    }

    .classificacao{
        color: darkgoldenrod;
    }

    .optionSlide{
        width: 70%;
        height: 103px;;
    }

    .buttomSlide{
        width: 35%;
        height: 103px;;
    }

    .iconSlide{
        font-size: 35px;
    }

    
}
