<ion-header class="header">
   <ion-navbar color="dark">
        <ion-title>Programação</ion-title>
         <ion-buttons start class="botaoHead">
          <button ion-button icon-only>
            <ion-icon name="contact"></ion-icon>
          </button>
        </ion-buttons>
        <ion-buttons class="botaoHead" end>
          <button ion-button icon-only>
            <ion-icon name="search"></ion-icon>
          </button>
        </ion-buttons>
    </ion-navbar>

  <ion-toolbar class="toolbarProgramacao" color="dark">       
      <ion-segment *ngIf="diasSemana"   [(ngModel)]="diaSegment" class="tabsProg" color="light">
        <ion-segment-button value="{{data.data}}"   *ngFor="let data of diasSemana"  (click)="programacaoPorData(data.data)" >
            {{data.dia}}
        </ion-segment-button> 
      </ion-segment> 
    
  </ion-toolbar>

</ion-header>

<ion-content class="masters">
  <ion-list class="listDestaque" no-lines>
    <ion-list-header class="titleDestaque">{{dia}} </ion-list-header>
    <ion-item-sliding class="itemGrade" *ngFor="let programacao of programacaoDiaria.programacaoEncontrados">
      <ion-item class="itemGrade"  (click)="openModal(programacao)">
        <img  src="{{programacao.url_imagem_programa}}" item-start class="imagemPrograma">    
        <h1 class="horario">{{programacao.hrinicial}} às {{programacao.hrfinal}} </h1>    
        <h2>{{programacao.programa}}</h2>
        <h3>{{programacao.tema | limitTo:30}}</h3>
        <p class="classificacao">classificação: {{programacao.classificacao}}</p>  
        <ion-icon class="icone" name="ios-arrow-back" item-end></ion-icon>      
      </ion-item>         
      <ion-item-options side="right" class="optionSlide">
        <button ion-button color="danger" class="buttomSlide" (click)="regularShare(programacao)">
          <ion-icon name="share" class="iconSlide"></ion-icon>
          Compartilhar
        </button>
        <button ion-button color="primary" class="buttomSlide"  (click)="lembrar(programacao)">
          <ion-icon name="alarm" class="iconSlide"></ion-icon>
          Lembrar
        </button>
      </ion-item-options>   
    </ion-item-sliding>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content loadingText="Carregando ..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>



</ion-content>
