<ion-header>
<button ion-button small (click)="closeModal()" color="dark"  float-right>
  <ion-icon name="close-circle">  Fechar</ion-icon>
</button> 

</ion-header>

<ion-content color="danger">

   
  <h1 class="horario">Elom Waizmam</h1>    
  <p class="classificacao">Analista de Sistemas</p>
  <hr> 
  
  <ion-list no-lines>
    <ion-item>
       <button ion-item small (click)="itemSelected(item)">
          <ion-icon name="person" item-start ></ion-icon> Alterar
      </button>       
    </ion-item>
    <hr> 
    <ion-item>
      <button ion-item  small (click)="itemSelected(item)">
        <ion-icon name="list-box" item-start ></ion-icon> Favoritos
       </button>  
    </ion-item>
    <hr> 
    <ion-item>
      <button ion-item small (click)="logout()">
        <ion-icon name="power" item-start ></ion-icon> Logout
      </button>  
    </ion-item>
  </ion-list>

</ion-content>
