page-login {

     

    .horario{
        color:chocolate;
        font-size: 20px;
        font-weight: bold;
        padding: 18px 12px;
    }

    .classificacao{
        color: darkgoldenrod;
        font-size:15px;
        margin-top:-25px;
        padding-left:12px; 
    }

    ion-item{
        font-size:15px;
        color:dimgrey;
    }

    
}
